@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:wght@700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --pc-bege: #F1EBDF;
  --pc-branco: #FFFFFF;
  --pc-laranja: #F26F4D;
  --pc-laranja-dark: #D95E3C;
  --pc-marrom: #6D413E;
  --pc-cinza: #7F7F7F;
}

@theme inline {
  --color-pcbege: var(--pc-bege);
  --color-pcbranco: var(--pc-branco);
  --color-pclaranja: var(--pc-laranja);
  --color-pclaranjadark: var(--pc-laranja-dark);
  --color-pcmarrom: var(--pc-marrom);
  --color-pccinza: var(--pc-cinza);
}

body {
  background: var(--pc-bege);
  color: var(--pc-marrom);
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--pc-marrom);
}

h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: var(--pc-marrom);
}

label, small {
  font-family: 'Inter', sans-serif;
  color: var(--pc-cinza);
}
